/* * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
} */


/* html, body {
    margin: 0;
} */

.full-screen-container {
    /* To make it display completely */
    background-image: url("background_image.jpg");
    height: 100vh;
    width: 100vw;
    /* After margin and padding it to zero */

    background-size: cover; /*Scale the image it down.*/
    background-position: center;

    /* To make the elements to CENTER */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    /* Targeting the form elements */ 

    background-color: hsla(201, 100%, 6%, 0.7);
    padding: 50px 30px; /*(top bottom) (left right) */
    min-width: 400px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
}

.login-title {
    color:white;
    text-align: center;
    margin: 0; /* h3 elements have margin by default */
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: normal;
}

/* .form {
    display: flex;
    flex-direction: column;
} */

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
}

.input-group input {
    /* Remove all default elements */
    font-size: 1.5em;
    padding: .1em .25em;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
}

.input-group input:focus {
    border: 1px solid hsl(201, 100%, 50%);
}

.login-button {
    /* background: none; */
    /* border: none;
    outline: none; */
    background-color: hsla(201, 100%, 50%, 0.1);
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid hsl(201, 100%, 50%);
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: hsla(201, 100%, 50%, 0.3);
}

.login-button:focus {
    background-color: hsla(201, 100%, 50%, 0.5);
}




